{% extends "base.html" %}
{% block title %}ensure your flight booking{% endblock %}

{% block content %}
<div class="span2">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">
				Search
			</li>
			<li>
				<a href="/booking/hotel/">search hotel</a>
			</li>
			<li>
				<a href="/booking/flight/">search flight</a>
			</li>
			<li class="nav-header">
				your records
			</li>
			<li>
				<a href="/booking/my_record/flight/">your flight records</a>
			</li>
			<li>
				<a href="/booking/my_record/hotel/">your hotel records</a>
			</li>

		</ul>
	</div><!--/.well -->
</div><!--/span-->

<div class="span10">
	<div class="hero-unit well">

		<p>
			ensure your hotel room booking 
		</p>
		<p>{{h}}</p>
		<p>you want to book this things:</p>
		<table class="table table-bordered">
			<thead>
				<tr>

					<th scope="col" ></th>
					<th scope="col" >date</th>
					<th scope="col" >left room number</th>
				</tr>
			</thead>
			<tbody>

				{% for r in rs%}

				<tr class="row">
					<td>{{r.date}}</td> <td>{{r.room_number}}</td> 
				</tr>

				{% endfor %}

			</tbody>
		</table>
		<p>the other who have experienced it </p>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col" ></th>
					<th scope="col" >who</th>
					<th scope="col" >comment</th>
					<th scope="col" >scores</th>
				</tr>
			</thead>
			<tbody>

				{% for s in sr%}

				<tr class="row">
					<td>{{s.user_id}}</td> <td>{{s.comment}}</td> <td>{{s.scores}}</td>
				</tr>

				{% endfor %}

			</tbody>
		</table>
	</div>
	<div class="row-fluid well" >
		

		<form class="form-horizontal" action="" method="post">
			{% csrf_token %}
			<input type="hidden" name="post" value="yes" />
			
			<fieldset>
				<div id="legend" class="">
					<legend class="">
						submit your book request
					</legend>
				</div>
				<div class="control-group">

					<!-- Text input-->
					<label class="control-label" for="input01">the number of ticket you want to book</label>
					<div class="controls">
						<input type="number" value="1" class="input-xlarge" name="num">
						<p class="help-block">
							do not book room more than it can hold
						</p>
					</div>
				</div>

				<button type="submit" class="btn">Submit</button>

			</fieldset>
		</form>
	</div><!--/row-->

</div>
{% endblock %}

