{% extends "dbase.html" %}
{% block title %}ensure your flight booking{% endblock %}

{% block content %}
<div class="span2">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">
				Search
			</li>
			<li>
				<a href="/booking/hotel/">search hotel</a>
			</li>
			<li>
				<a href="/booking/flight/">search flight</a>
			</li>
			<li class="nav-header">
				your records
			</li>

			<li>
				<a href="/booking/my_record/hotel/">your hotel records</a>
			</li>
			<li>
				<a href="/booking/my_record/flight/">your flight records</a>
			</li>

		</ul>
	</div><!--/.well -->
</div><!--/span-->

<div class="span9">
	<div class="row-fluid">

		<p>
			ensure your hotel room booking
		</p>
		<div class="span5">
			<dl class="dl-horizontal">
				<dt>
					start city
				</dt>
				<dd>
					{{rr.flight_id.starting_id}}
				</dd>

				<dt>
					destination city
				</dt>
				<dd>
					{{rr.flight_id.destination_id}}
				</dd>
				<dt>
					take off date
				</dt>
				<dd>
					{{rr.flight_id.leave_date}}
				</dd>

				<dt>
					take off time
				</dt>
				<dd>
					{{rr.flight_id.leave_time}}
				</dd>
				<dt>
					arrive date
				</dt>
				<dd>
					{{rr.flight_id.arrive_date}}
				</dd>
				<dt>
					arrive time
				</dt>
				<dd>
					{{rr.flight_id.arrive_time}}
				</dd>
				<dt>
					comany
				</dt>
				<dd>
					{{rr.flight_id.company_id}}
				</dd>

				<dt>
					nonestop
				</dt>
				<dd>
					{{rr.flight_id.none_stop}}
				</dd>
				<dt>
					plane class
				</dt>
				<dd>
					{%ifequal rr.flight_id.plane_type '1'%}
					economy
					{%else%}

					{%ifequal rr.flight_id.plane_type '2'%}
					business
					{%else%}
					first class
					{%endifequal%}
					{%endifequal%}
				</dd>

				<dt>
					price
				</dt>
				<dd>
					{{rr.flight_id.price}}
				</dd>
			</dl>
		</div>
		<div class="span5">

			<dl class="dl-horizontal">

				<dt>
					book number
				</dt>
				<dd>
					{{rr.num}}
				</dd>
				<dt>
					book time
				</dt>
				<dd>
					{{rr.book_time}}
				</dd>
				<dt>
					book date
				</dt>
				<dd>
					{{rr.book_date}}
				</dd>
				<dt>
					your comment
				</dt>
				<dd>
					{{rr.comment}}&nbsp;
				</dd>
				<dt>
					your score
				</dt>
				<dd>
					{%ifequal  rr.scores -1 %}
					<a href="/booking/my_record/flight/{{rr.pk}}/" class="btn">make comment now</a>

					{%else%}
					{{rr.scores}}
					{%endifequal %}
				</dd>
				<dt>
					total price
				</dt>
				<dd>
					{{rr.price}}
				</dd>
				<dt>
					your account balance
				</dt>
				<dd>
					{{b}}
				</dd>
			</dl>

		</div>
	</div>
	<div class="row-fluid" >

		<form class="form-horizontal" action="" method="post">
			{% csrf_token %}
			<input type="hidden" name="post" value="yes" />

			<fieldset>
				<div id="legend" class="">
					<legend class="">
						pay for your booking for ￥ {{rr.price}}
					</legend>
				</div>

				<button type="submit" class="btn">
					I am sure, pay for it!
				</button>

			</fieldset>
		</form>
	</div><!--/row-->

</div>
{% endblock %}

