{% extends "dbase.html" %}
{% block title %}
online booking system
{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href="/static/css/demos.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/themes/base/jquery.ui.all.css"/>
{% endblock %}
{% block content %}
<div class="span2">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">
				Search
			</li>
			<li class="active">
				<a href="/booking/hotel/">search hotel</a>
			</li>
			<li>
				<a href="/booking/flight/">search flight</a>
			</li>
			<li class="nav-header">
				your records
			</li>

			<li>
				<a href="/booking/my_record/hotel/">your hotel records</a>
			</li>
			<li>
				<a href="/booking/my_record/flight/">your flight records</a>
			</li>
		</ul>
	</div><!--/.well -->
</div><!--/span-->
<div class="span10">

	<div class="row-fluid">
		<div class="span4 well">
			<form action="" method="post" class="form-horizontal">
				{% csrf_token %}
				<table>
					{{ form.as_table}}
					<tr>
						<th><label >&nbsp;</label></th><td>
						<input type="submit" class="btn" value="Submit">
						</td>
					</tr>
				</table>
			</form>
		</div>
		<div class="well span8">
			<p>
				hotel discount infomation
			</p>
			{% for rr in hls%}

			<div class=" row-fluid">
				
				<div class="span4">
					{{rr.hotel_id.name}}
					<img src="/{{rr.hotel_id.img_url}}">
					<!-- <a class="btn" href="/booking/hotel/{{rr.hotel_id.id}}/">Go to Book this</a> -->
				</div>
				<div class="span3">
					<dl >

						<dt>
							city
						</dt>
						<dd>
							{{rr.hotel_id.city_id}}
						</dd>
						<dt>
							address
						</dt>
						<dd>
							{{rr.hotel_id.address}}
						</dd>

						<dt>
							phone number
						</dt>
						<dd>
							{{rr.hotel_id.phone_number}}
						</dd>
						<dt>
							room type
						</dt>
						<dd>
							{%ifequal rr.hotel_id.room_type '1'%}
							standard
							{%else%}

							big
							{%endifequal%}
						</dd>
					</dl>
				</div>
				<div class="span3">

					<dl >
						<dt>
							hotel star
						</dt>
						<dd>
							{{rr.hotel_id.hotel_star}} stars
						</dd>

						<dt>
							hot level
						</dt>
						<dd>
							{{rr.hotel_id.hot_level}}
						</dd>
						<dt>
							scores
						</dt>
						<dd>
							{%ifequal  rr.hotel_id.scores -1 %}
							no one comment
							{%else%}
							{{rr.hotel_id.scores}}
							{%endifequal %}
						</dd>

						<dt>
							discount
						</dt>
						<dd>
							{{rr.discount}}
						</dd>
						<dt>
							price
						</dt>
						<dd>
							{{rr.hotel_id.price}}
						</dd>
					</dl>

				</div>

			</div>

			{% endfor %}

			<div class="pagination">

				<ul>
					{% if hls.has_previous %}
					<li>
						<a href="?p1={{ hls.previous_page_number }}">previous</a>
					</li>
					{% endif %}
					<li class="active">
						<a>Page {{ hls.number }} of {{ hls.paginator.num_pages }}.</a>
					</li>
					{% if hls.has_next %}
					<li>
						<a href="?p1={{ hls.next_page_number }}">next</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<h1>query result</h1>
		{%if not rs %}
		Nothing match query.
		{%else%}
		{% for rr in rs%}
		<div class="well">
			<div class=" row-fluid">
				
				<div class="span4">
					{{rr.name}}
					<img src="/{{rr.img_url}}">
				</div>
				<div class="span3">
					<dl class="dl-horizontal">
						

						<dt>
							city
						</dt>
						<dd>
							{{rr.city_id}}
						</dd>
						<dt>
							address
						</dt>
						<dd>
							{{rr.address}}
						</dd>

						<dt>
							phone number
						</dt>
						<dd>
							{{rr.phone_number}}
						</dd>
						<dt>
							room type
						</dt>
						<dd>
							{%ifequal rr.room_type '1'%}
							standard
							{%else%}

							big
							{%endifequal%}
						</dd>
					</dl>
				</div>
				<div class="span3">

					<dl class="dl-horizontal">
						<dt>
							hotel star
						</dt>
						<dd>
							{{rr.hotel_star}} stars
						</dd>

						<dt>
							hot level
						</dt>
						<dd>
							{{rr.hot_level}}
						</dd>
						<dt>
							scores
						</dt>
						<dd>
							{%ifequal  rr.scores -1 %}
							no one comment
							{%else%}
							{{rr.scores}}
							{%endifequal %}
						</dd>

						<dt>
							price
						</dt>
						<dd>
							{{rr.price}}
						</dd>
						
						<dt>
							operation
						</dt>
						<dd>
							<a class="btn" href="/booking/hotel/{{rr.id}}/">Book</a>
						</dd>
						
					</dl>

				</div>
				
			</div>

		</div>
		{% endfor %}

		<div class="pagination">
			<ul>
				{% if rs.has_previous %}
				<li>
					<a href="?p={{ rs.previous_page_number }}">previous</a>
				</li>
				{% endif %}
				<li class="active">
					<a>Page {{ rs.number }} of {{ rs.paginator.num_pages }}.</a>
				</li>
				{% if rs.has_next %}
				<li>
					<a href="?p={{ rs.next_page_number }}">next</a>
				</li>
				{% endif %}
			</ul>
		</div>
		{%endif%}
	</div>

</div>
{% endblock %}
{% block js %}

<script type="text/javascript" src="/static/js/jquery.ui.core.js"></script>
<script type="text/javascript" src="/static/js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/static/js/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="/static/js/jquery.ui.position.js"></script>
<script type="text/javascript" src="/static/js/jquery.ui.tooltip.js"></script>

<script type="text/javascript">
	$(function() {

		$("#id_start").datepicker({
			dateFormat : 'yy-mm-dd'
		});
		
		//$("#id_end").datepicker({dateFormat: 'yy-mm-dd'});
		x = $('#id_city');
		x.attr('data-provide',"typeahead");
		x.attr('data-items',"4");
		x.attr('data-source','["BeiJing","HangZhou","WenZhou","ShangHai","GuangZhou"]');
		x.attr('autocomplete',"off")
		function hide_this() {
			if ($("#id_I_or_D").children('option:selected').val() == '0') {
				$("#id_sort_by").val(0);
				$("#id_sort_by").hide();
				$("[for ='id_sort_by']").hide();
			} else {
				$("#id_sort_by").show();
				$("[for ='id_sort_by']").show();
			}
		}

		hide_this();
		$("#id_I_or_D").change(function() {
			hide_this();
		});
	}); 
</script>
{% endblock %}
