{% extends 'userena/profile_base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Change password" %}{% endblock %}
{% block username %} {{ profile.user.username }} {% endblock %}

{% block content_right %}
<div id="details" class="hero-unit">
<form action="" method="post" id="password_change_form">
  
  <fieldset>
    <legend>{% trans "Change Password" %}</legend>
    {% csrf_token %}
    {{ form.as_p }}
  </fieldset>
  <input type="submit" class="btn btn-warning"  value="{% trans "Change Password" %}" />
</form>
</div>
<script type="text/javascript"> document.getElementById("li3").className="active"; </script>
{% endblock %}

