{% extends "base.html" %}
{% block title %}show all my flight record{% endblock %}

{% block content %}
<div class="span2">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">
				Search
			</li>
			<li>
				<a href="/booking/hotel/">search hotel</a>
			</li>
			<li>
				<a href="/booking/flight/">search flight</a>
			</li>
			<li class="nav-header">
				your records
			</li>
			<li class="active">
				<a href="/booking/my_record/flight/">your flight records</a>
			</li>
			<li>
				<a href="/booking/my_record/hotel/">your hotel records</a>
			</li>

		</ul>
	</div><!--/.well -->
</div><!--/span-->

<div class="span9">
	<div class="hero-unit">

		<p>
			Here is all your flight record.
		</p>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="bs-docs-example">
				<table class="table">
					<thead>
						<tr>
							<td>#</td>
							<th>start city</th>
							<th>destination city</th>
							<th>take off date</th>
							<th>take off time</th>
							<th>arrive date</th>
							<th>arrive time</th>
							<th>comany</th>
							<th>nonestop</th>
							<th>plane class</th>
							<th>price</th>
							<th>book number</th>
							<th>book time</th>
							<th>book date</th>
							<th>your comment for the flight</th>
							<th>your score for the flight</th>
							<th>price</th>
							<th>payment status</th>
						</tr>
					</thead>

					<tbody>

						{% for rr in rs %}
						<tr>
							<td>{{rr.id}}</td>
							<td>{{rr.flight_id.starting_id}}</td>
							<td>{{rr.flight_id.destination_id}}</td>
							<td>{{rr.flight_id.leave_date}}</td>
							<td>{{rr.flight_id.leave_time}}</td>
							<td>{{rr.flight_id.arrive_date}}</td>
							<td>{{rr.flight_id.arrive_time}}</td>
							<td>{{rr.flight_id.company_id}}</td>
							<td>{{rr.flight_id.none_stop}}</td>
							<td> {%ifequal rr.flight_id.plane_type '1'%}
							economy
							{%else%}

							{%ifequal rr.flight_id.plane_type '2'%}
							business
							{%else%}
							first class
							{%endifequal%}
							{%endifequal%} </td>
							<td>{{rr.flight_id.price}}</td>
							<td>{{rr.num}}</td>
							<td>{{rr.book_date}}</td>
							<td>{{rr.book_time}}</td>
							{%ifequal  rr.scores -1 %}
							<td colspan="2"><a href="/booking/my_record/flight/{{rr.pk}}/" class="btn">make comment now</a></td>
							{%else%}
							<td> {{rr.comment}}</td><td> {{rr.scores}} </td>
							{%endifequal %}

							<td>{{rr.price}}</td>
							<td> {%ifequal  rr.stat '0' %}
								<a href="/booking/my_record/flight/payment/{{rr.pk}}/" class="btn">pay now</a> 
								{%else%}  
								{{rr.stat}}
							{%endifequal %} </td>
						</tr>

						{% endfor %}

					</tbody>
				</table>
				<div class="pagination">
					<ul>
						{% if rs.has_previous %}
						<li>
							<a href="?p={{ rs.previous_page_number }}">previous</a>
						</li>
						{% endif %}
						<li class="active">
							<a>Page {{ rs.number }} of {{ rs.paginator.num_pages }}.</a>
						</li>
						{% if rs.has_next %}
						<li>
							<a href="?p={{ rs.next_page_number }}">next</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div><!--/span-->
		</div><!--/row-->

	</div>
</div>
{% endblock %}

